---
// src/pages/projects.astro
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

import '../styles/global.css';
import PageLayout from '@/layouts/PageLayout.astro';

import {formatDate} from '../lib/fns'

const projects: CollectionEntry<'projects'>[] = await getCollection('projects', (entry) => {
  return entry.data.draft !== true;
});

const sortedProjects = projects.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---
<PageLayout title="Projects" name="Build Logs">
        {sortedProjects.map((project) => (
          <a href={`/projects/${project.id}`} class="group block border-b border-gray-200 pb-8 last:border-0">
             <div class="flex items-center gap-3 text-xs font-mono text-gray-800 mb-2">
                    <time datetime={project.data.date.toISOString()}>
                      {formatDate(project.data.date)}
                    </time>
                    <span>—</span>
                    <span class="text-blue-500 uppercase tracking-widest">BUILD LOG</span>
                  </div>
            <h2 class="text-2xl font-mono group-hover:text-blue-600 transition-colors">{project.data.title}</h2>
            <p class="text-gray-600 mt-2 mb-3">{project.data.description}</p>
            <div class="flex gap-2">
              {project.data.techStack.map((tech: string) => (
                <span class="text-[10px] uppercase tracking-wider font-mono bg-gray-100 text-gray-500 px-2 py-1 rounded-sm">
                  {tech}
                </span>
              ))}
            </div>
          </a>
        ))}
</PageLayout>